@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome to MALOO.
If you are looking for a tool to help you calculate the optimal amount of material required, then this is the place for you.
