@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>Welcome to MALOO. <br/>
    If you are looking for a tool to help you calculate the optimal amount of material required, then this is the place for you. <br />
    Simply enter the stock lengths of materials and the desired lengths, and I'll calculate the optimal number of items you will need. <br />
    Tap here to get started <a href="/maloo">Maloo</a>
</p>
