@page "/Maloo"
@using System.Linq
@using BlazorApp.Shared

<h3>MainPage</h3>

@* 
<input @bind="sStandardMaterialLength" placeholder="Standard Material Length" />
<input @bind="sOrderingLengths" placeholder="Ordering Lengths" /> *@

<p>Enter  &#10;1- lengths of materials and &#10;2- the standard material length &#10;and I'll calculate the optimal number of lengths you will need.</p>

<p>Standard material length</p>
<textarea style="width: 100%;" @bind="sStandardMaterialLength" placeholder="Enter length of SKU material. &#10;For example a standard steel rod length may be 4000mm, so enter 4000. &#10;Omit the units but ensure you use the same units for both the standard material length and the ordering length." />

<p>Ordering lengths</p>
<textarea style="width: 100%;" @bind="sOrderingLengths" placeholder="Enter lengths separated by a space or a newline. For example &#10;1000 2000  4000 5000 6000 7000 8000 &#10;9000 10000 11540" />

<button @onclick="OnCounterClicked">Calculate</button>

<p>@((MarkupString)outputText)</p>



@code {
    private int count = 0;
    private int slotLength = 5400;
    private List<int> rodLengths = new List<int> { 1, 2, 3 };
    private string outputText = "";
    private string counterText = "Click me";
    private string? sStandardMaterialLength;
    private string? sOrderingLengths;

    private void OnCounterClicked()
    {
        count++;
        counterText = count == 1 ? $"Clicked {count} time" : $"Clicked {count} times";

        rodLengths = sOrderingLengths.Split(" ")
                                     .Select(int.Parse)
                                     .ToList();

        CalculateAll(int.Parse(sStandardMaterialLength), rodLengths);
        outputText = Calculator.outputText;
    }

    public static void CalculateAll(int StandardMaterialLength, List<int> rodLengths)
    {
        Calculator.outputText = "";

        List<int> deepCopyRodLengths = rodLengths.Select(i => i).ToList();

        Calculator.slotLength = StandardMaterialLength;
        Calculator.rodLengths = deepCopyRodLengths;
        Calculator.Calculate(false);

        deepCopyRodLengths = rodLengths.Select(i => i).ToList();
        Calculator.slotLength = StandardMaterialLength;
        Calculator.rodLengths = deepCopyRodLengths;
        Calculator.Calculate(true, false);

        deepCopyRodLengths = rodLengths.Select(i => i).ToList();
        Calculator.slotLength = StandardMaterialLength;
        Calculator.rodLengths = deepCopyRodLengths;
        Calculator.Calculate(true, true);
    }
}
